*,
:root {
  --primary: #721be0;
  --seconday: #e0531b;
  --thirtary: #e0dc10;
}
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  background: var(--seconday);
}
form {
  background-color: var(--primary);
  min-height: 600px;
  width: 500px;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  position: relative;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form--header {
  display: flex;
  justify-content: center;
}
form .form--span {
  position: absolute;
  bottom: 18px;
  right: 30px;
}
form .form--button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 15px;
  transition: background, 0.3s ease;
}
form .form--button:hover {
  cursor: pointer;
  background-color: var(--thirtary);
}
form .form--input {
  height: 35px;
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  margin-bottom: 30px;
}
.form--list {
  width: 1260px;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  padding: 5px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 10px;
  list-style-type: none;
  width: 330px;
  margin: 10px;
}
.todo li {
  flex: 1;
}
.todo--button__complete,
.todo--button__delete {
  width: 30px;
  height: 30px;
  border: none;
  margin: 2px;
  border-radius: 5px;
  transition: background, 0.5s ease;
}
.todo--button__complete:hover,
.todo--button__delete:hover {
  cursor: pointer;
}
.todo--button__complete {
  background-color: rgb(57, 231, 57);
}
.todo--button__delete {
  background-color: rgb(245, 218, 63);
}
button i {
  color: black;
  font-size: 20px;
  pointer-events: none;
}
